.song-disc {
    position: relative;
}
.song-disc-play {
    padding-top: 63px;
    width: 248px;
    margin: 0 auto;
}
.song-disc-wrap {
    width: 100%;
    position: relative;
}
.song-disc-wrap::after {
    position: absolute;
    content: '';
    width: 84px;
    height: 122px;
    top: -63px;
    left: 105px;
    background-image:url(./images/needle.png);
    background-size: contain;
}
#song-disc-turn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}
#song-disc-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    z-index: 999;
}

@media screen and (min-width: 360px) {
    .song-disc-play {
        padding-top: 70px;
        width: 296px;
    }
}

@media screen and (min-width: 414px) {
    .song-disc-play {
        padding-top: 80px;
        width: 342px;
    }
}